:root{
  --mainGreen: #35B234;
  --lightGreen: rgb(138, 252, 138);
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

* {
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url('images/torontoCity.jpg');
  height: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider{
  width:2px;
  height:auto;
  display:inline-block;
}

button{
  padding: 1%
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
}

.text-title{
  
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}


